.form {
  background-color: var(--blue-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border-radius: 4px;
}

.form button {
  height: 100%;
  color: inherit;
  padding: 4px 8px;
}

.form input {
  background: none;
  border: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.6rem;
  max-width: 22rem;
}

.form input:focus {
  outline: none;
}

.form input::placeholder {
  color: rgba(255, 255, 255, 0.295);
}
