.form {
  background-color: var(--blue-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border-radius: 4px;
}

.form button {
  height: 100%;
  color: inherit;
  padding: 4px 8px;
}

.form input {
  font-size: 1.6rem;
  max-width: 22rem;
}
