.anime-list {
  color: inherit;
}

.anime-list ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  gap: 4.8rem;
  margin-bottom: 2.4rem;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8.6rem;
}

.pagination button {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 2rem;
  color: inherit;
  font-family: inherit;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

/* BELOW 1640px */
@media (max-width: 93em) {
  .anime-list ul {
    gap: 3.2rem;
  }
}

/* BELOW 1168px */
@media (max-width: 73em) {
  .anime-list ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* BELOW 640px */
@media (max-width: 40em) {
  .anime-list ul {
    grid-template-columns: repeat(2, 1fr);
  }
} ;
