.authentication {
  max-width: 50rem;
  padding: 2.4rem 3.2rem;
  margin: 0 auto;
  background-color: var(--blue-shade);
  border-radius: 0.8rem;
}

.authentication h2 {
  text-align: center;
}

.authentication form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
}

.authentication div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.authentication label {
  font-size: 2rem;
  font-weight: var(--fw-medium);
}

.authentication input {
  font-size: 1.8rem;
  padding: 4px 8px;
  background-color: var(--white);
  border-radius: 4px;
  color: var(--blue-shader-darkest);
  font-weight: var(--fw-medium);
}

.authentication form button {
  margin-top: 8px;
  font-size: 1.8rem;
  padding: 8px 10px;
  border-radius: 2rem;
  font-weight: var(--fw-bold);
  background-color: var(--blue-primary);
  color: var(--white);
}

.authentication button:hover {
  opacity: 60%;
}

div.cta {
  flex-direction: unset;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.cta p {
  font-size: 1.6rem;
}

.cta button {
  font-size: 1.6rem;
  color: var(--white);
  text-decoration: underline;
}
