@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;700&display=swap");

:root {
  --blue-primary: #476c9b;
  --blue-shade: #1c2b3e;
  --blue-shader-darkest: #101419;
  --white: #fff;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  line-height: 1;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  background-color: var(--blue-shader-darkest);
  color: var(--white);
  font-size: 1.6rem;
}

h1 {
  font-size: 6.4rem;
  letter-spacing: -2px;
  margin-bottom: 2.4rem;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
  transition: all 0.3s ease-out;
}

img {
  width: 100%;
}

input {
  background: none;
  border: none;
  font-family: inherit;
  color: inherit;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.295);
}

.welcome {
  margin-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}

.welcome__image {
  width: 25rem;
}

.welcome p {
  font-size: 2.8rem;
}

/* BELOW  1168px*/
@media (max-width: 73em) {
  html {
    font-size: 56.25%;
  }
  h1 {
    font-size: 5.2rem;
    margin-bottom: 1.2rem;
  }

  .welcome p {
    font-size: 2.2rem;
  }
}

/* BELOW 916px */
@media (max-width: 57em) {
  h1 {
    font-size: 4.4rem;
  }

  .welcome {
    gap: 2.4rem;
  }
  .welcome__image {
    width: 20rem;
  }
}

/* BELOW  736px*/
@media (max-width: 46em) {
  html {
    font-size: 50%;
  }

  .welcome {
    flex-direction: column;
    gap: 4.8rem;
    text-align: center;
  }
}

/* BELOW 640px */
@media (max-width: 40em) {
  h1 {
    font-size: 3.6rem;
    margin-bottom: 0.8rem;
  }
}

/* BELOW 448px */
@media (max-width: 28em) {
  h1 {
    font-size: 3rem;
    margin-bottom: 4px;
  }

  .welcome {
    gap: 3.2rem;
  }

  .welcome p {
    font-size: 2rem;
  }
}
