@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;700&display=swap");

:root {
  --blue-primary: #476c9b;
  --blue-shade: #1c2b3e;
  --blue-shader-darkest: #101419;
  --white: #fff;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  line-height: 1;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  background-color: var(--blue-shader-darkest);
  color: var(--white);
  font-size: 1.6rem;
}

h1 {
  font-size: 6.4rem;
  letter-spacing: -2px;
  margin-bottom: 2.4rem;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

.welcome {
  margin-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}

.welcome__image {
  width: 25rem;
}

.welcome p {
  font-size: 2.8rem;
}
